.button {
  display: inline-block;
  width: auto;
  height: auto;
  border: none;
  background-color: #FFF;
  transition: all 0.2s ease;
  padding: 6px 10px;
  margin: 0px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 11px;
  font-weight: 500;
  cursor: pointer;
}