.button {
  display: block;
  width: 55px;
  height: 55px;
  border: none;
  background-color: #F3F3F3;
  transition: all 0.3s ease;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #CCCCCC;
}

.button:hover {
  background-color: #E7E7E7;
}

.button img {
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: auto;
  height: 60%;
}

.active {
  background-color: #9df800;
}

.active:hover {
  background-color: #92e700;
}