.toolbar {
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  height: 49px;
  width: 257px;
  overflow: visible;
  padding: 0px;
  margin: 0px;
}

.toolbar-button-container {
  z-index: 19;
  position: relative;
  flex-shrink: 0;
  height: 45px;
  width: 49px;
  background-color: white;
  border: 2px solid black;
  overflow: hidden;
  transition: background-color 0.3s ease, height 0.2s ease, border-radius 0.05s linear 0.15s;
}

.toolbar-button-container:hover {
  background-color: #E7E7E7;
}

.toolbar-button-container button {
  top: -2px;
}

.toolbar-button-container-leftmost {
  border-radius: 10px 0px 0px 10px;
}

.toolbar-button-container-inner {
  border-radius: 0px;
}

.toolbar-button-container-rightmost {
  border-radius: 0px 10px 10px 0px;
}

.toolbar-button-container-dropdown {
  width: 49px;
  height: 155px;
  transition: height 0.2s ease, border-radius 0.05s linear;
  background-color: #FFF;
}

.toolbar-button-container-dropdown:hover {
  background-color: #FFF;
}

.toolbar-button-container-dropdown-leftmost {
  border-radius: 10px 0px 10px 10px;
}

.toolbar-button-container-dropdown-inner {
  border-radius: 0px 0px 10px 10px;
}

.toolbar-button-container-dropdown-rightmost {
  border-radius: 0px 10px 10px 10px;
}

.toolbar-button {
  position: relative;
  display: block;
  width: 100%;
  height: 49px;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease;
  padding:  9px 10px;
  margin: 0px;
  cursor: pointer;
}

.toolbar-button img {
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: auto;
  height: 95%;
}

.toolbar-button-active {
  background-color: #000;
}

.toolbar-button-active:hover {
  background-color: #222;
}

.toolbar-dropdown {
  position: relative;
  top: -2px;
  width: 49px;
  height: 149px;
}

.toolbar-dropdown-slider {
  position: relative;
  top: 18px;
  left: 23px;
  width: 30px;
  height: 70px;
}