.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 55px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.toolbar-button {
  display: block;
  width: 20%;
  height: 100%;
  border: none;
  background-color: #FFF;
  transition: all 0.2s ease;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.toolbar-button:hover {
  background-color: #E7E7E7;
}

.toolbar-button img {
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: auto;
  height: 60%;
}

.toolbar-button-active {
  background-color: #000;
}

.toolbar-button-active:hover {
  background-color: #222;
}
