#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92%;
  min-width: 740px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5vh 4vw;
  background-color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-bottom: 3%;
}

#logo {
  height: 85px;
  width: auto;
  padding-bottom: 3px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

#webgl-container {
  position: relative;
  width: 66%;
  height: 75vmin;
  padding-bottom: 0;
  max-width: 800px;
  max-height: 800px;
  border: 2px solid black;
  overflow: hidden;
}

#settings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 28%;
  min-width: 265px;
  max-width: 330px;
  margin-left: 3%;
  padding-right: 1%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.settings-subcontainer {
  width: 100%;
  margin-bottom: 20px;
}

.settings-subtitle {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 10px;
}

.slider-horizontal-container {
  width: 100%;
  margin: 12px 0px 0px;
}

.slider-horizontal-unlabeled-container {
  width: 100%;
}

.solute-selectors-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.solute-color-settings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
  width: 100%;
}

.solute-color-sliders-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 65%;
  margin-bottom: 6px;
}

.solute-color-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
}

.solute-color-slider .slider-horizontal-unlabeled-container {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: -12px;
}

.solute-color-preview {
  position: relative;
  left: 3px;
  top: 3px;
  width: 74px;
  height: 74px;
  border-radius: 94px;
}

.solute-color-preview-border {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 80px;
  margin-left: 25px;
  margin-bottom: -15px;
}

.reset-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.reset-button {
  display: inline-block;
  margin-right: 10px;
}