#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92%;
  min-width: 740px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5vh 4vw;
  background-color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-bottom: 3%;
}

#logo-container {
  font-weight: 500;
  position: relative;
  top: 9px;
  cursor: pointer;
}

#logo-container a {
  color: black;
}

#logo-container a:active {
  color: black;
}

#logo-container p {
  margin-left: 6px;
  font-size: 22px;
  display: inline-block;
}

#logo {
  position: relative;
  top: 7px;
  display: inline-block;
  height: 60px;
  width: auto;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

#webgl-container {
  flex-shrink: 0;
  position: relative;
  width: 66%;
  height: calc(93vmin - 100px);
  padding-bottom: 0;
  max-width: 800px;
  max-height: 800px;
  border: 2px solid black;
  overflow: hidden;
}

#settings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 28%;
  min-width: 265px;
  max-width: 330px;
  margin-left: 3%;
  padding-right: 1%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.settings-subcontainer {
  width: 100%;
  margin-bottom: 20px;
}

.settings-subtitle {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 10px;
}

.slider-horizontal-container {
  width: 100%;
  margin: 12px 0px 0px;
}

.slider-horizontal-unlabeled-container {
  width: 100%;
}

.solute-selectors-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.solute-selectors-container p {
  font-weight: 500;
  font-size: 14px;
  margin: 0px 10px;
}

.reaction-symbol {
  font-weight: 500;
  font-size: 17px;
  margin: 0px 3px;
}

.solute-color-settings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
  width: 100%;
}

.solute-color-sliders-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 65%;
  margin-bottom: 6px;
}

.solute-color-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
}

.solute-color-slider .slider-horizontal-unlabeled-container {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: -12px;
}

.solute-color-preview {
  position: relative;
  left: 3px;
  top: 3px;
  width: 74px;
  height: 74px;
  border-radius: 94px;
}

.solute-color-preview-border {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 80px;
  margin-left: 25px;
  margin-bottom: -15px;
}

.reset-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.reset-button {
  display: inline-block;
  margin-right: 10px;
}

#about-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.15);
  transition: opacity 0.5s ease;
}

#about-overlay-button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#about-overlay-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  font-weight: 500;
  color: #777;
  background-color: white;
  border-radius: 30px;
  padding: 40px 70px;
  box-shadow: 0px 0px 100px rgba(0,0,0,0.5);
  transition: transform 0.5s ease;
}

#about-overlay-popup p {
  margin: 0px;
}

.about-overlay-supporters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-overlay-center {
  text-align: center;
}

#about-overlay-synbim-logo {
  width: 300px;
  margin: 0px 20px 40px 0px;
}

#about-overlay-epsrc-logo {
  width: 270px;
  margin: 10px 0px 50px 30px;
}

#about-overlay-uoe-logo {
  width: 290px;
  margin: 10px 0px 20px 10px;
}

#about-overlay-biofm-logo {
  width: 180px;
  margin: 10px 0px 20px 50px;
}

#about-overlay-source {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 140px;
  border-radius: 30px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  background-color: #24292e;
  margin-top: 20px;
  overflow: hidden;
}

#about-overlay-source:hover {
  box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}

#about-overlay-source p {
  margin-top: 15px;
  color: #DDD;
}

#about-overlay-github-logo {
  display: inline-block;
  width: 190px;
}

#about-overlay-source-shine {
  position: absolute;
  background-color: rgba(255,255,255,0.1);
  width: 60px;
  height: 200px;
  top: 0px;
  left:0px;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
  transform: skewX(30deg) translate(-150px, 0px);
  transition: transform 0.4s linear;
}

#about-overlay-source:hover #about-overlay-source-shine {
  transform: skewX(30deg) translate(450px, -50px);
}