.header-button {
  display: block;
  width: 55px;
  height: 55px;
  border: none;
  background-color: #FFF;
  transition: all 0.2s ease;
  padding: 0px;
  margin: 0px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.header-button:hover {
  background-color: #E7E7E7;
}

.header-button img {
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: auto;
  height: 60%;
}

.header-button-active {
  background-color: #000;
}

.header-button-active:hover {
  background-color: #222;
  border: 2px solid #222;

}