.header-button {
  display: block;
  width: 49px;
  height: 49px;
  border: none;
  background-color: #DDD;
  color: black;
  transition: all 0.1s ease;
  padding: 0px;
  margin: 0px;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: rgba(50, 50, 105, 0.45) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.header-button:hover {
  background-color: #E7E7E7;
}

.header-button img {
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: auto;
  height: 67%;
}

.header-button-active {
  background-color: black;
  color: white;
}

.header-button-active:hover {
  background-color: #222;
  border: 2px solid #222;
}