.solute-selector-container {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: all 0.1s ease;
  border: 2px solid #BBB;
  border-radius: 100%;
  margin: 0px 3px;
  background-color: transparent;
  cursor: pointer;
  overflow: visible;
}

.solute-selector-container:hover {
  border-color: black;
}

.solute-selector-container-active {
  border-color: black;
}

.solute-selector {
  flex-shrink: 0;
  flex-grow: 0;
  width: 26px;
  height: 26px;
  border-radius: 100%;
}
