.solute-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 100px;
  transition: all 0.2s ease;
  border: 2px solid white;
  margin-right: 6px;
  background-color: #FFF;
  cursor: pointer;
  overflow: visible;
}

.solute-selector-container:hover {
  border-color: #DDD;
}

.solute-selector-container-active {
  border-color: #000;
}

.solute-selector-container-active:hover {
  border-color: #444;
}

.solute-selector {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100px;
}
